@import "mixin.scss";

.wrapper-fp {
	width: 100%;
	height: auto;
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	@media only screen and (max-width: 500px) {
		margin-top: 70px;
	}
	.fp-block {
		display: flex;
	}
	.guide-whole-wrapper {
		margin: 0 auto;
		//background: pink;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.fp-guide-container {
	font-family: $font2;
	//border-radius: 10px;
	margin: auto;
	width: auto;
	@media only screen and (max-width: 1001px) {
		width: 98%;
	}
	//padding: 20px 30px;
	height: auto;
	//background: $green2;
	.fp-guide-title {
		text-transform: capitalize;
		font-size: 1.4rem;
		margin-left: 20px;
		margin-bottom: 10px;
		@media only screen and (max-width: 600px) {
			margin-bottom: 10px;
			font-size: 1.2rem;
		}
	}
	.fp-guide-image-container {
		width: 1000px;
		height: auto;
		margin-bottom: $two;
		@media only screen and (max-width: 1001px) {
			width: 100%;
			margin-bottom: 10px;
		}
		img {
			//border-radius: 10px 10px 0 0;

			max-width: 100%;
			height: auto;
			display: block;
		}
	}

	.fp-guide-excerpt {
		text-transform: capitalize;
		margin-left: 20px;
		margin-bottom: 20px;
		font-weight: 400;
		font-size: 1rem;
		@media only screen and (max-width: 600px) {
			margin-bottom: 10px;
		}
	}
	.fp-guide-link {
		margin-left: 20px;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 1rem;
		text-transform: uppercase;
		a:hover {
			text-decoration: underline;
		}
		@media only screen and (max-width: 1001px) {
			width: 98%;
		}
		@media only screen and (max-width: 600px) {
			margin-bottom: 10px;
			font-size: 0.9rem;
		}
	}
}

//======= links middle ======================
.guide-fp-link-main-container {
	display: flex;
	margin-top: 40px;
	//max-width: 1400px;
	width: 100%;
	height: auto;
	//outline: red solid 1px;
	@media only screen and (max-width: 901px) {
		width: 100%;
		margin-top: 20px;
	}
	.guide-fp-link-main {
		//outline: red solid 1px;
		width: 1000px;
		margin: auto;
		@media only screen and (max-width: 901px) {
			width: 98%;
		}
		p {
			padding-left: 5px;
			a {
				text-transform: capitalize;
				font-weight: 700;
				//padding-left: 32px;
				font-size: 1.3rem;
				&:hover {
					text-decoration: underline;
				}
				@media only screen and (max-width: 800px) {
					font-size: 1rem;
				}
			}
		}
	}
}
// ========================= map block =====================
.fp-block-2 {
	margin: 200px auto;
	@media only screen and (max-width: 900px) {
		margin: 90px auto;
	}
	.parent {
		//	outline: solid saddlebrown 1px;
		height: 400px;
		width: 700px;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-template-rows: repeat(8, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		@media only screen and (max-width: 900px) {
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(8, 1fr);
			//outline: solid blue 1px;
			height: 600px;
			width: 320px;
			overflow: hidden;
		}
	}

	.div-left {
		grid-area: 1 / 1 / 9 / 8;
		@media only screen and (max-width: 900px) {
			grid-area: 1 / 1 / 5 / 7;
		}
		img {
			width: 500px;
			height: auto;
			display: block;
			@media only screen and (max-width: 900px) {
				width: 320px;
			}
		}
	}

	.div-right {
		grid-area: 1 / 5 / 9 / 11;
		@media only screen and (max-width: 900px) {
			grid-area: 4 / 1 / 9 / 7;
		}
		img {
			width: 500px;
			height: auto;
			display: block;
			@media only screen and (max-width: 900px) {
				width: 320px;
			}
		}
	}

	.explore-title {
		margin-left: 20px;
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: 700;
		grid-area: 2 / 7 / 4 / 10;
		@media only screen and (max-width: 900px) {
			grid-area: 6 / 2 / 8 / 4;
			font-size: 1rem;
		}
	}

	.map-icon {
		text-transform: uppercase;
		font-size: 1.3rem;
		font-weight: 700;
		grid-area: 5 / 6 / 9 / 9;
		@media only screen and (max-width: 900px) {
			grid-area: 5 / 4 / 7 / 6;
		}
		img {
			width: 150px;
			height: auto;
			display: block;
			@media only screen and (max-width: 900px) {
				width: 70px;
			}
		}
	}

	.intro {
		margin-bottom: 30px;
		grid-area: 3 / 2 / 9 / 5;
		@media only screen and (max-width: 900px) {
			margin-bottom: 40px;
			font-size: 0.8rem;
			width: 200px;
			grid-area: 2 / 2 / 5 / 5;
		}
	}
}
